<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong class="whitetext"><%- title %></strong> by <%- author %>.<br>Powered by <a href="https://github.com/theanidox/dlinks" class="whitetext purplehover">DLinks</a>
      </p>
    </div>
  </div>
</footer>
