<nav class="navbar is-transparent">

  <div class="navbar-menu is-flex-mobile">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/list">
        Server List
      </a>
    </div>
  </div>
</nav>
