<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%- title %></title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<style>
  .button {
    background-color: #7289DA !important;
    color: white;
    transition: all 0.5s ease
  }
  .box {
    background-color: #2C2F33 !important;
  }
  .button:hover {
    color: #7289DA;
    background-color: #23272A !important;
  }
  .navbar-start {
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .navbar-item:hover {
    color: #7289DA !important
  }
  .navbar-item {
    color: white;
  }
  .hero {
    background-color: #23272A !important;
    text-align: center
  }
  .footer {
    background-color: #23272A !important;
    padding: 2% 0;
    color: white
  }
  .whitetext {
    color: white
  }
  .purplehover:hover {
    color: #7289DA
  }
  .tag {
    background-color: #7289DA !important;
    color: white !important;
  }
  section {
    background-color: #23272A;
    flex: 1;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
</style>
