<!DOCTYPE html>
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <section class="hero is-success is-fullheight">
    <%- include('../partials/header'); %>
  <div class="hero-body">
    <div class="container">
      <h1 class="title whitetext">
        Success!
      </h1>
      <h2 class="subtitle whitetext">
        <%- msg %>
      </h2>
    </div>
  </div>
</section>
<%- include('../partials/footer'); %>
</body>
